name: 'npm build'

on:
  workflow_call:
    inputs:   
      job_name:
        required: true
        type: string
        default: 'Build and Artifact Package'
      runs_on:
        required: true
        type: string
        default: 'ubuntu-latest'
      node_version:
        required: true
        type: string
      cache:
        required: true
        type: string


jobs:
  application_build:
    name: ${{ inputs.job_name }}
    runs-on: ${{ inputs.runs_on }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: ${{ inputs.cache }}

      - name: Install Dependencies
        run: npm install

      - name: Build Artifact
        run: npm run build

      - name: Publist Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: reactui-${{ github.run_id }}
          path: build/*
