name: terraform_plan

on:
  workflow_call:
    inputs:   
      job_name:
        required: true
        type: string
        default: 'Terraform Plan'
      runs_on:
        required: true
        type: string
        default: 'ubuntu-latest'
      working_directory:
        required: true
        type: string
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
      AZURE_CLIENT_SECRET:
        required: true

jobs:
  terraform-apply:
    name: ${{ inputs.job_name }}
    runs-on: ${{ inputs.runs_on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest

      - name: Azure CLI Login
        run: |
            az login --service-principal \
            --username $AZURE_CLIENT_ID \
            --password $AZURE_CLIENT_SECRET \
            --tenant $AZURE_TENANT_ID

            az account set --subscription $AZURE_SUBSCRIPTION_ID
        env:
            AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
            AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
            AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
            AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: tarraform init
        id: init
        run: terraform init -input=false
        working-directory: ${{ env.working-directory }}

      - name: terraform fmt
        id: fmt
        run: terraform fmt -check -recursive
        working-directory: ${{ env.working-directory }}

      - name: terraform validate
        id: validate
        run: terraform validate
        working-directory: ${{ env.working-directory }}

      - name: terraform plan
        id: plan
        run: terraform plan -out=tfplan -input=false
        working-directory: ${{ env.working-directory }}
