name: terraform_destroy

on:
  workflow_call:
    inputs:   
      job_name:
        required: true
        type: string
        default: 'Terraform Destroy'
      runs_on:
        required: true
        type: string
        default: 'ubuntu-latest'
      working_directory:
        required: true
        type: string
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
      AZURE_CLIENT_SECRET:
        required: true

jobs:
  terraform-destroy:
    name: ${{ inputs.job_name }}
    runs-on: ${{ inputs.runs_on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.2

      - name: Azure CLI Login
        run: |
            az login --service-principal \
            --username $AZURE_CLIENT_ID \
            --password $AZURE_CLIENT_SECRET \
            --tenant $AZURE_TENANT_ID

            az account set --subscription $AZURE_SUBSCRIPTION_ID
        env:
            AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
            AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
            AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
            AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: terraform init
        id: init
        run: terraform init -input=false
        working-directory: ${{ inputs.working_directory }}

      - name: terraform destroy
        id: destroy
        run: terraform destroy -input=false -auto-approve
        working-directory: ${{ inputs.working_directory }}
